*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: verdana;
    background-image: url(img.jpg);
    background-position: center;
    height: 100vh;
   
    border-style: dotted;
}
nav{
    height: 50px;
    background-color: thistle;
}
nav .logo{
    font-family: Castellar;
    color: white;
    font-size: 30px;
    line-height: 50px;
    padding-left: 20px;
}
nav ul{
    float: right;
    margin-right: 35px;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    color: darkgray;
    padding: 0 15px;
    display: block;
    line-height: 50px;
    font-size: 18px;
    background: lightpink;
    transition: .4s;
}
nav ul li a:hover,
nav ul li a.activar{
    color: white;
}
nav ul li:hover > ul{
top: 50px;
opacity: 1;
visibility: visible;
transition: .3s linear;
}


nav ul ul{
position: absolute;
top: 100px;
border-top: 60px mediumpurple solid;
opacity: 0;
visibility: hidden;
}
nav ul ul li{
    width: 500px;
    display: list-item;
    position: relative;
    border: 60px mediumpurple solid;
    border-top: none;
}



nav ul ul{
    position: absolute;
    top: 100px;
    border-top: 60px mediumpurple solid;
    opacity: 0;
    visibility: hidden;
    }
    nav ul ul li{
        width: 500px;
        display: list-item;
        position: relative;
        border: 60px mediumpurple solid;
        border-top: none;
    }


nav ul ul li a{
    line-height: 50px;
}
nav ul ul ul{
    border-top: none;
}
nav ul ul ul li{
    position: relative;
    top: -50px;
    left: 120px;
}

.btn{
	display: inline-block;
	background-color: lightpink;
	padding: 15px;
	text-decoration: none;
	}